.form {
  display: grid;
  grid-row-gap: 16px;
}

.field {
  display: grid;
  grid-row-gap: 4px;
  position: relative;
}

.input .clear {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  top: 16px;
  right: 8px;
  padding: 4px;
  border-radius: 50%;
  background-color: var(--error-color);
}

.input .clear svg {
  width: 8px;
  height: 8px;
}

.input input {
  width: 100%;
  padding: 16px 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  outline: none;
}

.error {
  color: var(--error-color);
  font-size: 12px;
}

.input:focus {
  border-color: var(--accent-color);
}

.inputError input,
.inputError .input:focus {
  border: 1px solid var(--error-color);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 32px;
  color: var(--black-color);
}

.category {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  opacity: 0.5;
}

.title {
  font-size: 36px;
  line-height: 44px;
}

.priceWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.priceWrapper .price {
  font-size: 48px;
  display: flex;
}

.priceWrapper .price svg {
  margin-right: 4px;
  margin-top: 8px;
}

.formButton {
  font-size: 16px;
  width: 100%;
  border-radius: 12px;
}
