.app {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buy-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  background: #4BCFA0;
  border-radius: 16px;
  width: 214px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  outline: none;
}

.card__form {
  display: flex;
  flex-direction: column;
}

.card__form--input {
  width: 230px;
  height: 37px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 10px;
  outline: none;
  margin-bottom: 13px;
}

.card__form--input:nth-child(2) {
  margin-bottom: 26px;
}

.modal-button {
  width: 230px;
  height: 37px;
  border-radius: 12px;
  font-size: 12px;
  margin: 0;
}

.modal__item--type,
.modal__item--title,
.modal__item--price {
  /* display: inline; */
  position: relative;
}
.modal__item--type {
  left: 109px;
  display: inline-block;
}

.modal__item--title {
  left: 28px;
}

.modal__item--price {
  padding-bottom: 29px;
  left: 40px;
  padding-top: 18px;
}
