.card__item {
  width: 31.5%;
  height: 200px;
  background-color: #FFFFFF;
  margin: 0px 0px 2.5%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.card__item:nth-child(4),
.card__item:nth-child(5),
.card__item:nth-child(6){
  margin: 0px;
}

.card__item--type {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.5;
}

.card__item--title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #000000;
}

.card__item--price {
  display: flex;
  padding-top: 26px;
  align-items: center;
  justify-content: space-between;
}

.card__item--price .price{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 51px;
  line-height: 40px;
  margin-left: 5px;
  letter-spacing: -0.02em;
  color: #000000;
}

.card__item--price .dollar-image {
  width: 14px;
  height: 28px;
}

.card__item--price .basket-button {
  background-image: url("../../assets/shopping-bag.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 20px;
  background-color: white;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 53px;
  height: 53px;
  border-radius: 50%;
  outline: none;
}

.card__item--price .basket-button:hover {
  background-color: #4BCFA0;
  background-image: url("../../assets/shopping-bag-white.png");
  transition: all .5s;
}

.card__item--price .price-wrapper {
  display: flex;
}