.card {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 23px;
  color: var(--black-color);
}

.category {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  opacity: 0.5;
}

.title {
  font-size: 36px;
  line-height: 44px;
}

.priceWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.priceWrapper .price {
  font-size: 48px;
  display: flex;
}

.priceWrapper .price svg {
  margin-right: 4px;
  margin-top: 8px;
}
